<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Бесконечный полёт корабля МДС{% endblock %}</title>
        <meta name="description" content="{% spaceless %}{% block description %}Сайт трансляции аудиокниг проекта 'Модель для сборки'. «Модель для сборки» (сокращённо МДС) —радиопередача, стартовавшая в 1995 году благодаря
    автору и ведущему Владу Коппу. Формат радиопередачи - аудиокнига, радиопостановка фантастической, современной прозы на фоне музыки в стиле 'Ambient',
    'Psyhodelic', 'Downtempo'. Музыкальное сопровождение часто отражает темп повествования, окутывая эфир магическими звуками бесконечности. Этот конструктор
    мы можем собирать до того времени, пока не дойдем до края вселенной. Вы корабле MDS. Вы в путешествии по бесконечному. Я рад за Вас...{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block keywords %}МДС,Модель для сборки,Аудиокниги,Аудиотрансляция,Фантастика, Книги, Радио{% endblock %}{% endspaceless %}" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/vendor.js') }}"></script>
        {% endblock %}
        {% include '::ya_metrika.html.twig' %}
    </body>
</html>
