imports:
    - { resource: parameters.yml }
    - { resource: roles.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
      #Change session handler for PDO
        #handler_id: session.handler.native_file
        #save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'


    fragments: ~
    http_method_override: true
    assets:
        json_manifest_path: '%kernel.project_dir%/web/build/manifest.json'
    php_errors:
        log: true

    ide: 'phpstorm://open?url=file://%%f'
# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_pgsql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        types:
            text_array: "Doctrine\\DBAL\\PostgresTypes\\TextArrayType"
            int_array: "Doctrine\\DBAL\\PostgresTypes\\IntArrayType"
            ts_vector: "Doctrine\\DBAL\\PostgresTypes\\TsvectorType"
            ts_query: "Doctrine\\DBAL\\PostgresTypes\\TsqueryType"
            xml: "Doctrine\\DBAL\\PostgresTypes\\XmlType"
            inet: "Doctrine\\DBAL\\PostgresTypes\\InetType"
            macaddr: "Doctrine\\DBAL\\PostgresTypes\\MacAddrType"
        mapping_types:
            _text: text_array
            _int4: int_array
            tsvector: ts_vector
            tsquery: ts_query
            xml: xml
            inet: inet
            macaddr: macaddr
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        entity_managers:
            default:
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: true
                mappings:
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # (optional) it will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translator:
                        type: annotation
                        prefix: Gedmo\Translator\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                        alias: GedmoTranslator
                        is_bundle: false
                    gedmo_loggable:
                        type: annotation
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                        alias: GedmoLoggable
                        is_bundle: false
                    gedmo_tree:
                        type: annotation
                        prefix: Gedmo\Tree\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                        alias: GedmoTree
                        is_bundle: false
                filters:
                    softdeleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: true

stof_doctrine_extensions:
    default_locale: "%locale%"
    # Only used if you activated the Uploadable extension
    uploadable:
        # Default file path: This is one of the three ways you can configure the path for the Uploadable extension
        default_file_path:       "%kernel.root_dir%/../web/uploads"
        # Mime type guesser class: Optional. By default, we provide an adapter for the one present in the HttpFoundation component of Symfony
        mime_type_guesser_class: Stof\DoctrineExtensionsBundle\Uploadable\MimeTypeGuesserAdapter
        # Default file info class implementing FileInfoInterface: Optional. By default we provide a class which is prepared to receive an UploadedFile instance.
        default_file_info_class: Stof\DoctrineExtensionsBundle\Uploadable\UploadedFileInfo
    orm:
        default:
            translatable: true
            blameable: true
            loggable: true
            softdeleteable: true
            timestampable: true
            sortable: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

gos_web_socket:
    server:
        port: 8181
        host: 0.0.0.0
        router:
            resources:
                - "config/pubsub_routing.yml"
    pushers:
        zmq:
            default: true
            host: 127.0.0.1
            port: 5555
            persistent: true
            protocol: tcp
    client:
        firewall: [main]
        session_handler: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
    rpc:
      - AppBundle\WebSocket\Commentator
    topics:
      - AppBundle\WebSocket\Herald
    periodic:
      - AppBundle\WebSocket\StreamStatusChecker

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: "%mailer_user%"
        sender_name: "%mailer_user%"

hwi_oauth:
    connect:
        account_connector: AppBundle\Auth\IFSUserProvider
    firewall_names: [main]
    fosub:
        username_iterations: 30
        properties:
            vkontakte: vkontakte_id
    resource_owners:
        vkontakte:
            type:                vkontakte
            client_id:           6173790
            client_secret:       eD7SOyD8OpyXcEH5t1QE
            scope: "email"