app_rpc:
    channel: commentator/{method}
    handler:
        callback: 'comment.rpc'
    requirements:
        method:
            pattern: "[a-z_]+"

herald:
    channel: herald/{message}
    handler:
        callback: 'herald.topic'

source:
    channel: source
    handler:
        callback: 'source.topic'

comment:
    channel: comment
    handler:
        callback: 'comment.topic'
