gos_web_socket:
    server:
        port: 8181
        host: 0.0.0.0
        router:
            resources:
                - "config/pubsub_routing.yml"
    pushers:
        zmq:
            default: true
            host: 127.0.0.1
            port: 5555
            persistent: true
            protocol: tcp
    client:
        firewall: [main]
        session_handler: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
    rpc:
      - AppBundle\WebSocket\RPC\CommentRPC
    topics:
      - AppBundle\WebSocket\PubSub\CommentTopic
      - AppBundle\WebSocket\PubSub\ListenersTopic
#    periodic:
#      - AppBundle\WebSocket\StreamStatusChecker