{% extends '::base.html.twig' %}
{% block  javascripts%}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock javascripts %}
{% block body %}
    <div class="init">
        Shalom!
    </div>
    <div id="sample">Ya ya sample!</div>
    <span id="curtime"></span>
    <div id="break">Brezak</div>
    <span id="listeners"></span>
    <div id="break2"></div>
    <span id="song"></span>
    <div id="comments"></div>
    <div id="jp">Player</div>
{% endblock %}