{% extends '::base.html.twig' %}
{% block  javascripts%}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock javascripts %}
{% block body %}
    <div class="init">
        Shalom!
    </div>
{% endblock %}